<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condimentos El Zafiro Azul   </title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="website icon" typy="ico" href="../public/img/favicon.ico">
</head>
<body>
    <header class="content">
        <nav id="nav-login">
            <ul id="content-encabezado">
                <li><img src="../public/img/logodisbal.png" alt="logo de la compañia" id="logodisbal" ></li>
            </ul>
        </nav>
    </header>
    <br id="separdor">
    <aside id="cont-form" class="cont-form">
        <form id="formulario">
            <h1>Iniciar sesion</h1>
            <label for="user" class="sr-only">Usuario</label>
            <input type="text" name="user" class="login" id="user" placeholder="Email">
            <label for="password" class="sr-only">Contraseña</label>
            <input type="password" name="password" class="login" id="password" placeholder="Contraseña">
            <a href="./pedidos.html">pedidos</a>
            <button type="submit" class="login">Inicia secion</button>
            <p class="error escondido">Error al iniciar secion por favor verifique usuario y contraseña</p>
        </form>
    </aside>
    <script src="../public/app.js"></script>
</body>
</html>